.messages-text{
  font-weight: bold;
  color: var(--dark-color);
  overflow-wrap: anywhere;
}

.error-title{
  color: var(--red-color);
}

.error-messages {
  font-weight: bold;
  color: var(--dark-color);
  overflow-wrap: anywhere;
}

.message{
  z-index: 1090;
}

.message-window{
  z-index: 1091;
}
