.error-messages{
  font-weight: bold;
  color: var(--dark-color);
  overflow-wrap: anywhere;
}

.error-title{
  color: var(--red-color);
}

.error{
  z-index: 1090;
}

.error-window{
  z-index: 1091;
}
