.result-message{
  font-weight: bold;
  color: var(--dark-color);
  overflow-wrap: anywhere;
  display: flex;
  align-self: center;
  gap: 5px;
}

.error-title{
  color: var(--red-color);
}

.success-title{
  color: var(--green-color);
}
