<label class="form-label"
       [formGroup]="formGroup">
  {{ labelText }}
  <div class="form-input-box">
    <input
      [formControlName]="controlName"
      [type]="isPasswordFields && isPasswordVisible() ? 'text' :
                    isPasswordFields ? 'password' : 'text'"
      class="form-input"
      placeholder="Enter your {{ isPasswordFields? 'password':labelText | lowercase }}"
      [ngClass]="{
        'border-red':  hasError,
        'border-green': isValid
    }"/>
    @if (isPasswordFields) {
      <button class="password-eye-btn" type="button"
              (click)="isPasswordVisible.set(!isPasswordVisible())">
        @if (isPasswordVisible()) {
          <svg icon="eye_slash" class="eye-icon"/>
        } @else {
          <svg icon="eye" class="eye-icon"/>
        }
      </button>
    }
  </div>
</label>
