@if (me()) {
  <div class="user-box">
    <svg icon="user" class="user-icon"/>
    <div class="user-box_text user-name">{{ me()?.userName }}</div>
  </div>
}

@if (isAuthenticated()) {
  <button class="btn btn-shadow sidebar-btn" (click)="logoutClick()">Logout</button>
  <button class="btn btn-shadow sidebar-btn" (click)="loadWordsClick()">Load words</button>
} @else {
  <button class="btn btn-shadow sidebar-btn" (click)="loginClick()">Login</button>
  <button class="btn btn-shadow sidebar-btn" (click)="registerClick()">Registration</button>
}

@if (isLexemesLoaded()) {
  <app-result-table [resultsCount]="count"/>
}

@if (me() && me()?.roles?.includes(Role.ADMIN)) {
  <h2>ADMIN BOX :</h2>
}

