@let sourceLanguage=this.lexemes?.sourceLanguage;
@let targetLanguage =this.lexemes?.targetLanguage;
@let sourceWord =  this.getSourceWordMeaning();

<form
  action="" class="form form-flex"
  [formGroup]="form"
  (ngSubmit)="onSubmit()">
  <h1 class="h1">Chose correct translation</h1>
  <div class="languages">
    {{ sourceLanguage + ' -> ' + targetLanguage }}
  </div>
  <div class="source-word">
    {{ sourceWord}}
  </div>

  <div class="radio-group">
    @for (translation of listOfTranslations; track getUUID()) {

      @let currentValue = this.getTargetMeaning(translation);

      <label class="label-radio">
        <input
          type="radio"
          [value]="currentValue"
          formControlName="translation"
        />
        <span> {{ currentValue }}</span>
      </label>
    }
  </div>
  <button class="btn btn-shadow" type="submit">Submit</button>
</form>
