<form
  action="" class="form form-flex"
  [formGroup]="form"
  (ngSubmit)="onSubmit()">
  <h1 class="h1">Chose correct translation</h1>
  <div class="languages">
    {{ lexemes?.sourceLanguage + ' -> ' + lexemes?.targetLanguage }}
  </div>
  <div class="source-word">
    {{ sourceWordMeaning }}
  </div>

  <div class="radio-group">
    @for (translation of listOfTranslations; track getUUID()) {
      <label class="label-radio">
        <input
          type="radio"
          [value]="getTargetMeaning(translation)"
          formControlName="translation"
        />
        <span> {{ getTargetMeaning(translation) }}</span>
      </label>
    }
  </div>
  <button class="btn btn-shadow" type="submit">Submit</button>
</form>
