<form action="" class="form"
      [formGroup]="form"
      (ngSubmit)="onSubmit()">
  <h1 class="h1 mb60">Upload new lexeme</h1>

    <app-form-field
      labelText="Source lexeme : "
      controlName="sourceLexeme"
      [form]="form"
    />

  <app-form-field
    labelText="Target lexeme : "
    controlName="targetLexeme"
    [form]="form"
  />

    <app-select-label
      [formGroup]="form"
      controlName="typeLexeme"
      [elements]="types"
      title="Type of lexeme : "
    />

    <app-select-label
      [formGroup]="form"
      controlName="sourceLanguage"
      [elements]="languages"
      title="Source language : "
    />

    <app-select-label
      [formGroup]="form"
      controlName="targetLanguage"
      [elements]="languages"
      title="Target language : "
    />

    <button class="btn btn-shadow" type="submit">Upload</button>
</form>

