@import "fonts";
@import "margins";

:root {
  --dark-color: #000;
  --ligth-color: #fff;
  --primary-color: #AE7AFF;
  --gray-color: #5F646D;
  --red-color: #FF5555;
  --green-color: #00FF55;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: "JetBrains Mono", sans-serif;
  background: var(--dark-color);
  color: var(--ligth-color);
  background-image: url(/assets/images/backgruonds/bg-main.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

button {
  font-family: "JetBrains Mono", sans-serif;
}

.skill-tag {
  padding: 0 8px;
  border-radius: 4px;
  border: 1px solid var(--ligth-color);
  display: inline;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  height: 24px;
}

.btn {
  width: 100%;
  max-width: 500px;
  border: 1px solid var(--dark-color);
  background-color: var(--primary-color);
  color: var(--dark-color);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  &:hover {
    background-color: var(--dark-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
}

.btn-shadow {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: -4px;
    right: -4px;
    background: var(--gray-color);
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
}

.h1 {
  font-style: 18px;
  line-height: 24px;
  font-weight: 800;
}

.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.subtitle {
  font-size: 12px;
  line-height: 20px;
}

.form-label {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  display: block;
}

.form-input {
  width: 100%;
  max-width: 500px;
  margin-top: 8px;
  display: block;
  border: 1px solid var(--ligth-color);
  border-radius: 4px;
  padding: 12px 20px;
  background: var(--dark-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "JetBrains Mono", sans-serif;
  color: var(--ligth-color);
}
