<form action="" class="form"
      [formGroup]="form"
      (ngSubmit)="onSubmit()">
  <h1 class="h1 mb60">Chose load parameter</h1>

  <app-select-label
    [formGroup]="form"
    controlName="sourceLanguage"
    [elements]="languages"
    title="Source language : "
  />

  <app-select-label
    [formGroup]="form"
    controlName="targetLanguage"
    [elements]="languages"
    title="Target language : "
  />

  <app-select-label
    [formGroup]="form"
    controlName="countOfWords"
    [elements]="counts"
    title="Count of words : "
  />

  <button class="btn btn-shadow" type="submit">Load words</button>
</form>
