<div class="input-container mb32">
  <app-text-box
    [labelText]="labelText"
    [controlName]="controlName"
    [formGroup]="form"
    [hasError]="hasError"
    [isValid]="isValid"
  />

  <span class="input-info_text">
    {{ infoText }}
  </span>

  <app-error-messages
    [labelText]="labelText"
    [hasError]="hasError"
    [validateResults]="{
      'required': errors?.['required'],
      'email': errors?.['email'],
      'pattern': errors?.['pattern'],
      'minlength': errors?.['minlength'],
      'maxlength': errors?.['maxlength'],
      'passwordsMismatch': passwordsMismatchError
    }"/>
</div>
